In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
import matplotlib.pyplot as plt

In [8]:
df1 = pd.read_csv('gender_submission.csv')

In [6]:
pwd

'/Users/maitrayee'

In [7]:
cd Downloads

/Users/maitrayee/Downloads

In [9]:
df1.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB

In [11]:
df1.describe()

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.363636
std     120.810458    0.481622
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000

In [12]:
missing_values = df1.isnull().sum()

In [13]:
missing_values

PassengerId    0
Survived       0
dtype: int64

In [14]:
df1.isnull().sum()

PassengerId    0
Survived       0
dtype: int64

Here we can see that there is no missing values so no need to treat them.

In [16]:
def remove_outliers_visual(data, threshold):
     return filtered_data

hence the outliers are removed